.header {
    margin: 0 auto;
    background-color: rgb(191, 146, 33);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.header p {
    padding: 10px;
}